html {
    background-size: 100%;
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
}

body {
    color: white;
    background-color: rgba(0,0,0,0);
    background-repeat: repeat;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
}

.wrapper-content {
    width: 75%;
    margin: 30 auto;
    padding: 0 20;
}

.wrapper-content.main-contain{
    position: absolute;  
    top: 0px;   
    left: 0px;  
    width: 100%;   
    height: 100%;
    overflow: hidden;
}

#overlay {   
    position: absolute;  
    top: 0px;   
    left: 0px;  
    background: #ccc;   
    width: 100%;   
    height: 100%;   
    opacity: .75;   
    filter: alpha(opacity=75);   
    -moz-opacity: .75;  
    z-index: 999;  
    background: #fff url(http://i.imgur.com/KUJoe.gif) 50% 50% no-repeat;
}

.logo {
    text-align: center;
    vertical-align: middle;
}

.topic {
    text-align: center;
}

h1#topic {
    font-size: 28px;
    text-align: center;
}

#prg {
    color: #66fcf1;
    font-weight: bold;
}

span#prg {
    text-decoration: underline;
}

p {
    margin: 5px 0px;
    padding: 0px;
}

p,span,b,u,i {
    font-size: 17px;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 20px;
}

h2,h3 {
    color: #66fcf1;
    font-weight: bold;
}

#content {
    margin: 10px 0;
}

thead{
    background-color: rgba(0,150,245,1)
}

tr td {
    color: white;
}

.search{
    text-align: center;
    vertical-align: middle;
    margin: auto 0px;
    padding: auto 0px;
    border: solid 1px white;
    background-color: rgba(0,0,0,0.5)
}

input {
    width: auto;
    height: auto;
    vertical-align: middle;
}

.table {
    width: 100%;
    margin: 30px auto;
}

center{
    margin: 30px auto;
}

.col.marks {
    margin-bottom: 30px;
}

.menu-ls {
    width: 24%;
    margin: 0 auto;
    padding: 30px 30px;
    border: solid 1px white;
}

.menu-ls:hover, .menu-ls:active , menu-ls:focus {
    background-color: rgba(0,0,0,0.5);
}